<div class="card mb-5">
    <div class="card-header">
        <i class="fa fa-user"></i>
        <% if user.online? %>
        <small><i class="fas fa-circle text-success"></i></small>
        <% else %>
        <small><i class="fas fa-circle text-secondary"></i></small>
        <% end %>
        <%= link_to user.email, user_path(user) %>

    </div>
    <div class="card-footer">
        Signed up
        <%= time_ago_in_words(user.created_at) %> ago
    </div>
    <div class="card-footer">
        <%= 'sign_in_count'.humanize %>
        <%= user.sign_in_count %><br>
        <%= 'current_sign_in_at'.humanize %>
        <%= user.current_sign_in_at %><br>
        <%= 'last_sign_in_at'.humanize %>
        <%= user.last_sign_in_at %><br>
        <%= 'current_sign_in_ip'.humanize %>
        <%= user.current_sign_in_ip %><br>
        <%= 'last_sign_in_ip'.humanize %>
        <%= user.last_sign_in_ip %><br>
    </div>
    <div class="card-footer">
        confirmed email?
        <% if user.confirmed_at.present? %>
        <div class="badge badge-success">
            Yes
        </div>
        <% else %>
        <div class="badge badge-danger">
            No
        </div>
        <% end %>
    </div>
    <div class="card-footer">
        <% user.roles.each do |role|%>
        <div class="badge badge-info">
            <%= role.name %>
        </div>
        <% end %>
        <% if policy(user).edit? %>
        <span class="">
            <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
        </span>
        <% end %>
    </div>
</div>