<% content_for :title do %>
All users - Courses
<% end %>

<div class="row">
    <div class="col-md-12">
        <p class="lead">Users <span class="badge badge-info"><%= @pagy.count %> </span></p>
    </div>
</div>




<%
=begin%>

<div class="card-columns">
    <% @users.each do |user| %>
    <%= render 'users/user', user: user %>
    <% end %>
</div>
<%
=end%>



<%= search_form_for @q do |f| %>
<%= f.search_field :email_cont, placeholder: 'Search by username' %>
<%= f.search_field :sign_in_count_eq, placeholder: 'Sign in count' %>
<%= f.submit %>
<br>
<%= link_to users_path, class:'btn btn-sm btn-secondary mt-1 mb-3' do %>
<i class="fas fa-sync"></i>
<% end %>
<% end %>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col"><%= sort_link(@q, :email) %></th>
                <th scope="col"><%= sort_link(@q, :created_at) %></th>

                <th scope="col"><%= 'sign_in_count'.humanize %></th>
                <th scope="col"><%= 'current_sign_in_at'.humanize %></th>
                <th scope="col"><%= 'last_sign_in_at'.humanize %></th>
                <th scope="col"><%= 'last_sign_in_ip'.humanize %></th>
                <th scope="col"><%= 'courses_count'.humanize %></th>
                <th scope="col"><%= 'enrollments_count'.humanize %></th>
                <th scope="col"><%= sort_link(@q, :comments_count) %>
                <th scope="col"><%= sort_link(@q, :user_lessons_count) %>
                <th scope="col">Confirmed email?</th>
                <th scope="col">Roles</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user|%>
            <tr>
                <th scope="row"><%= user.id %></th>
                <td scope="row">
                    <div class="d-flex">
                        <% if user.online? %>
                        <small><i class="fas fa-circle text-success mr-1"></i></small>
                        <% else %>
                        <small><i class="fas fa-circle text-secondary mr-1"></i></small>
                        <% end %>
                        <%= link_to user.email, user_path(user) %>
                    </div>
                </td>
                <td scope="row"><%= user.created_at %></td>
                <td scope="row"><%= user.sign_in_count %></td>
                <td scope="row"><%= user.current_sign_in_at %></td>
                <td scope="row"><%= user.last_sign_in_at %></td>
                <td scope="row"><%= user.last_sign_in_ip %></td>
                <td scope="row"><%= user.courses_count %></td>
                <td scope="row"><%= user.enrollments_count %></td>
                <td scope="row"><%= user.comments_count %></td>
                <td scope="row"><%= user.user_lessons_count %></td>
                <td scope="row"><%= user.confirmed? %></td>
                <td scope="row">
                    <% user.roles.each do |role| %>
                    <span class='btn btn-sm btn-info mb-1'>
                        <%= role.name %>
                    </span>
                    <% end %>
                    <% if policy(user).edit? %>
                    <span>
                        <%= link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %>
                    </span>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>

    </table>

</div>
<div class="row">
    <div class="col-md-12 ">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
</div>