<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron text-center">
                <h1 class="display-4">What do you want to learn today?</h1>

                <%= search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f| %>
                <div class="input-group">
                    <%= f.search_field :title_cont, class: 'form-control', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off %>
                    <span class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span aria-hidden="true" class="fa fa-search"></span></button>
                    </span>
                </div>
                <% end %>




                <%
=begin%>
                <div class="form-inline px-5 mt-4">
                    <%= form_tag(courses_path, method: :get) do %>
                    <div class="input-group">
                        <%= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control' %>
                        <span class="input-group-append">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span aria-hidden="true" class="fa fa-search"></span></button>
                        </span>
                    </div>
                    <% end  %>
                </div>
                <%
=end%>




            </div>

            <div class="card-group">
                <div class="card card-body">
                    <h1>
                        <div class="fa fa-graduation-cap"></div>
                    </h1>
                    <%= Course.count %> online courses
                    <br>
                    Explore a variety of online courses
                </div>
                <div class="card card-body">
                    <h1>
                        <div class="fa fa-chalkboard-teacher"></div>
                    </h1>
                    <%= Course.distinct.count(:user_id) %> expert instructors
                    <br>
                    Find the right instructor for you
                </div>
                <div class="card card-body">
                    <h1>
                        <div class="fa fa-user-graduate"></div>
                    </h1>
                    <%= User.count %> Active learners
                    <br>
                    Join the knowledge sharing community
                </div>
                <div class="card card-body">
                    <h1>
                        <div class="fa fa-infinity"></div>
                    </h1>
                    Lifetime access
                    <br>
                    Learn on your own schedule
                </div>
            </div>

            <div class="text-left">
                <hr>
                <p class="lead">Popular courses</p>
                <div class="card-columns">
                    <% @courses.each do |course| %>
                    <%= render 'courses/course', course: course %>
                    <% end %>
                </div>
                <hr>
                <p class="lead">Top rated courses</p>
                <div class="card-columns">
                    <% @courses.each do |course| %>
                    <%= render 'courses/course', course: course %>
                    <% end %>
                </div>
                <hr>
                <p class="lead">Latest courses</p>
                <div class="card-columns">
                    <% @latest_courses.each do |course| %>
                    <%= render 'courses/course', course: course %>
                    <% end %>
                </div>
                <hr>
            </div>








            <%= link_to raw('<i class="fas fa-home"></i>'), root_path  %>
            <%= link_to raw('<i class="fas fa-book"></i> Course'), courses_path, class:'text-light btn btn-primary'  %>




        </div>
    </div>
</div>