<div class="card">
    <div class="card-body">
        <%= comment.content %>

    </div>
    <div class="card-footer">
        <small>
            by
            <%= link_to comment.user, user_path(comment.user) %>

            <br>
            <div class="text-secondary">
                <%= comment.created_at.strftime('%b. %d, %Y') %>
                (<%= time_ago_in_words(comment.created_at) %> ago)
                <% if policy(comment).destroy? %>
                <div class="float-right">
                    <%= link_to course_lesson_comment_path(@course, @lesson, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                    <i class="fa fa-trash"></i>
                    <% end %>
                </div>
                <% end %>
            </div>
        </small>
    </div>
</div>