<% content_for :title do %>
<%= action_name.humanize %> enrollments - Courses
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-12">
        <p class="lead"><%= action_name.humanize %> enrollments <span class="badge badge-info"><%= @pagy.count %> </span></p>
    </div>
</div>

<%= search_form_for @q, url: @ransack_path do |f| %>
<%= f.search_field :user_email_cont, placeholder: 'email' %>
<%= f.search_field :course_title_cont, placeholder: 'course' %>
<%= f.search_field :price_eq, placeholder: 'price' %>
<%= f.search_field :rating_eq, placeholder: 'rating' %>
<%= f.search_field :review_cont, placeholder: 'review' %>
<%= f.submit %>
<% end %>
<%= link_to 'Refresh', @ransack_path %>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Enrollment <br> ID</th>
            <th><i class="fa fa-user mr-1"></i><%= sort_link(@q, :user_email) %></th>
            <th><i class="fa fa-clock mr-1"></i>
                <i class="fa fa-lock-open mr-1"></i>Bought<%= sort_link(@q, :created_at) %></th>

            <th><i class="fa fa-graduation-cap mr-1"></i><%= sort_link(@q, :course_title) %></th>
            <th><i class="fa fa-dollar-sign mr-1"></i><%= sort_link(@q, :price) %></th>
            <th><i class="fa fa-clock mr-1 text-warning"></i>Reviewed on <%= sort_link(@q, :updated_at) %></th>

            <th><i class="fa fa-star mr-1 text-warning"></i><%= sort_link(@q, :rating) %></th>
            <th><i class="fa fa-comment mr-1 text-warning"></i>Review</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @enrollments.each do |enrollment| %>
        <tr>
            <td><%= enrollment.id %></td>
            <td><%= link_to enrollment.user.email, user_path(enrollment.user) %></td>
            <td><%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %></td>
            <td><%= link_to enrollment.course.title, course_path(enrollment.course) %></td>
            <td><%= number_to_currency(enrollment.price) %></td>
            <td> <% if enrollment.rating.present? %>
                <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
                <% end %>
            </td>
            <td><%= enrollment.rating %></td>
            <td><%= enrollment.review %></td>
            <td><%= link_to 'See Review', enrollment %></td>
            <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
            <td><%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<div class="row">
    <div class="col-md-12 mb-3">
        <%= link_to 'New Enrollment', new_enrollment_path, class:'btn btn-sm btn-success' %>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
</div>