<% content_for :title do %>
Enrollments - Courses
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-12">
        <p class="lead">Enrollments <span class="badge badge-info"><%= @enrollments.count %> </span></p>
    </div>
</div>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Enrollment <br> ID</th>
            <th><i class="fa fa-user mr-1"></i>User</th>

            <th><i class="fa fa-clock mr-1"></i>
                <i class="fa fa-lock-open mr-1"></i>Bought</th>
            <th><i class="fa fa-graduation-cap mr-1"></i>Course</th>
            <th><i class="fa fa-dollar-sign mr-1"></i>Price</th>
            <th><i class="fa fa-clock mr-1 text-warning"></i>Reviewed on</th>

            <th><i class="fa fa-star mr-1 text-warning"></i>Rating</th>
            <th><i class="fa fa-comment mr-1 text-warning"></i>Review</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @enrollments.each do |enrollment| %>
        <tr>
            <td><%= enrollment.id %></td>
            <td><%= link_to enrollment.user.email, user_path(enrollment.user) %></td>
            <td><%= enrollment.created_at.strftime("%d/%b/%Y, %H:%M") %></td>
            <td><%= link_to enrollment.course.title, course_path(enrollment.course) %></td>
            <td><%= number_to_currency(enrollment.price) %></td>
            <td> <% if enrollment.rating.present? %>
                <%= enrollment.updated_at.strftime("%d/%b/%Y, %H:%M") %>
                <% end %>
            </td>
            <td><%= enrollment.rating %></td>
            <td><%= enrollment.review %></td>
            <td><%= link_to 'See Review', enrollment %></td>
            <td><%= link_to 'Add Review', edit_enrollment_path(enrollment) %></td>
            <td><%= link_to 'Delete Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path, class:'btn btn-sm btn-success' %>