<% content_for :title do %>
Edit <%= @lesson.title %> - Courses
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= link_to 'Courses', courses_path %>
        <span class="mx-1 text-primary"> / </span>
        <%= link_to @lesson.course.title, course_path(@lesson.course) %>
        <span class="mx-1 text-primary"> / </span>
        <%= link_to @lesson.title, course_lesson_path(@course, @lesson) %>
        <span class="mx-1 text-primary"> /
            Edit
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3>
                    <i class="far fa-check-square"></i>
                    Editing Lesson
                </h3>
            </div>
            <div class="card-body">
                <%= render 'form', lesson: @lesson %>
            </div>
        </div>
    </div>
</div>
<%= link_to 'Show lesson', course_lesson_path(@course, @lesson) %> |
<%= link_to 'Back to course', course_path(@lesson.course) %>