<% content_for :title do %>
Lesson <%= @lesson.title %>
<% end %>
<div class="row">
    <div class="col-md-12">
        <%= link_to 'Courses', courses_path %>
        <span class="mx-1 text-primary"> / </span>
        <%= link_to @lesson.course.title, course_path(@lesson.course) %>
        <span class="mx-1 text-primary"> / </span>
        <%= link_to @lesson.title, course_lesson_path(@course, @lesson) %>
        <p><%= @lesson.user_lessons.where(user: current_user).first.impressions %></p>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <%= render 'lessons/lesson', lesson: @lesson %>
        Comments:
        <%= @comments.count %>
        <% @comments.each do |comment| %>
        <div class="mt-3">
            <%= render 'lessons/comments/comment', comment: comment %>
        </div>
        <% end %>
        <br>
        <hr>
        New comment:
        <%= render 'lessons/comments/form' %>

    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fas fa-graduation-cap mr-1"></i><%= link_to @lesson.course.title, course_path(@lesson.course) %>
                <span class="float-right">
                    <%= "<i class='fa fa-spinner'></i>".html_safe + " " +
                number_to_percentage(@lesson.course.progress(current_user), precision: 0) %>
                </span>
            </li>
            <% @lessons.each do |lesson| %>
            <%= link_to course_lesson_path(lesson.course, lesson) do %>
            <li class="list-group-item <%= 'list-group-item-success' if @lesson.present? && @lesson == lesson %>">
                <%= render 'lessons/lesson_preview', lesson: lesson %>
            </li>
            <%end %>
            <% end %>
        </ul>
    </div>
</div>