<div class="card mb-5">
    <div class="card-header">
        <h5 class="card-title"><i class="fas fa-graduation-cap mr-1"></i><%= link_to course.title, course %></h5>
    </div>
    <div class="card-body">
        <p class="card-text"><%= course.short_description %></p>
    </div>
    <div class="card-footer text-center">
        <%= enrollment_button(course) %><br>
        <%= review_button(course) %>
    </div>

    <div class="<%= 'd-flex justify-content-between' if current_page?(course_path(course))%> card-footer text-center">
        <p class="mb-1"><span class="text-warning fa fa-star mr-1"><%= course.average_rating %></span>
            (<%= review_count(course)%> reviews)
            - <%= course.enrollments_count %> students
        </p>
        <p>
            <i class="fas fa-tasks mr-1"></i>
            <%=  course.lessons_count %>
            Lessons
        </p>
        <p class="">
            <i class="fas fa-chalkboard-teacher mr-1"></i><%= link_to course.user.username, user_path(course.user) %>
        </p>
    </div>



    <% if current_user && policy(course).edit? %>
    <div class="card-footer">
        <%= link_to 'Edit', edit_course_path(course), class:"btn btn-small btn-warning" %>
        <% if policy(course).destroy? %>
        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-small btn-danger"%>
        <% end %>
    </div>
    <% end %>
</div>