<div class="card">
    <% if course.avatar.attached? %>

    <%= image_tag course.avatar, class:'card-img-top' %>

    <% end %>
    <div class="card-header">
        <h5 class="card-title"><i class="fas fa-graduation-cap mr-1"></i><%= link_to course.title, course %></h5>
    </div>
    <div class="card-body">
        <p class="card-text"><%= course.short_description %></p>
    </div>

    <%= if current_page?(course_path(course)) do %>
    <div class="card-body">
        <p class="card-text"><%= course.description %></p>
    </div>
    <% end %>
    <%end%>

    <div class="card-footer text-center">
        <%= enrollment_button(course)
 %>
    </div>



    <div class="card-footer text-center">
        <%= review_button(course) %>
    </div>

    <div class="<%= 'd-flex justify-content-between' if current_page?(course_path(course))%> card-footer text-center">
        <p class="mb-1"><span class="text-warning fa fa-star mr-1"><%= course.average_rating %></span>
            (<%= pluralize(review_count(course), 'review')%>)
            - <%= pluralize(course.enrollments_count, 'student') %>
        </p>
        <p>
            <i class="fas fa-tasks mr-1"></i>
            <%=  pluralize(course.lessons_count, 'lesson') %>

        </p>
        <p class="">
            <i class="fas fa-chalkboard-teacher mr-1"></i><%= link_to course.user.username, user_path(course.user) %>
        </p>
    </div>



    <% if current_user && policy(course).owner? %>
    <div class="card-footer">
        <%= link_to 'Add lesson', new_course_lesson_path(course, @lesson), class:"btn btn-small btn-primary" %>
        <%= link_to 'Edit', edit_course_path(course), class:"btn btn-small btn-warning" %>
        <% if policy(course).destroy? %>
        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-small btn-danger"%>
        <% end %>

        <%= link_to analytics_course_path(course), class:"btn btn-small btn-info" do %>
        <i class="fa fa-chart-line"></i>
        Analytics
        <% end %>
    </div>
    <% end %>

    <% if current_user && policy(course).admin_or_owner?%>
    <div class="card-footer">
        <% if course.published? %>
        <div class="badge badge-success">Published</div>
        <% else %>
        <div class="badge badge-danger">Unpublished</div>
        <% end %>

        <% if course.approved? %>
        <div class="badge badge-success">Approved</div>
        <% else %>
        <div class="badge badge-danger">Unapproved</div>
        <% end %>
    </div>
    <% end %>

    <% if current_user && policy(course).approve? %>
    <div class="card-footer">
        <% if course.approved? %>
        <%= link_to 'Unapprove', unapprove_course_path(course), method: :patch, class:'btn btn-sm btn-danger' %>
        <% else %>
        <%= link_to 'Approve', approve_course_path(course), method: :patch, class:'btn btn-sm btn-success' %>
        <% end %>
    </div>
    <% end %>

</div>